@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto;
    background-color: rgb(31, 31, 31);
}

:root{
    --primary-color: rgb(78, 78, 78);
    --secondary-color:rgb(41, 41, 41) ;
    --card-color: rgb(19, 19, 19);
}

.main-header{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.main-nav{
    display: flex;
    justify-content: space-between;
}

.img-header{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.nav-item{
    padding-top: 16px;
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-left: 110px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover{
    background-color: rgb(117, 117, 117);
    padding: 8px;
    margin: -8px;
    border-radius: 4px;
}

.input-check{
    display: none;
}

.burger-menu{
    display: none;
}

.logo-joi, .logo-cart, .logo-user{
    padding: 1rem;
}

.logo-user{
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-right: 1px;
}

.nombre-user{
    padding-left: 5px;
}

.logo-user-cart{
    display: flex;
}

@media screen and (width < 768px){

    .main-header{
        height: 60px;
    }

    .logo-user, .logo-user-cart{
        padding: 6px;
    }

    .logo-cart{
        padding: 1rem;
    }

    .logo-joi{
        display: none;
    }

    .main-nav{
        position: fixed;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        left: 0;
        top: 60px;
        bottom: 0;
        width: 200px;
        padding: 5px 3px;
        background-color: rgb(255, 255, 255);
    }

    .nav-link:hover{
        display: block;
        width: 177px;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        left: 0;
        margin-left: 15px;
    }
    
    .input-check:checked ~ .main-nav{
        transform: translateX(0);
    }

    .burger-menu{
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .burger-line{
        width: 25px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        position: relative;
        cursor: pointer;
    }
    
    .burger-line::before,
    .burger-line::after{
        content: "";
        display: block;
        width: 25px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        transform: translatey(-10px);
    }
    
    .burger-line::after{
        transform: translatey(10px);
    }
    
    .input-check:checked ~ .burger-menu ~ body {
        overflow: hidden;
    }
}


.div-banner{
    margin: 0px 0px;
}

.div-color-banner{
    background-color: var(--secondary-color);
    padding: 25px 25px 30px 25px;
    border: 1px solid white;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-banner{
    width: 100%;
    height: 700px;
    object-fit: cover;
    border: 1px black solid;
    border-radius: 15px;
}

.div-banner h1{
    padding-top: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
}

@media screen and (width < 768px){

    .div-banner{
        margin: 0;
    }

    .img-banner{
        height: 400px;
    }

    .h1-banner{
        font-size: 10px;
    }
}



.main-content{
    background-color: var(--secondary-color);
    margin: 20px 300px 20px 300px;
    padding-bottom: 100px;
    height: auto;
    border-radius: 10px;
    border: 1px solid white;
}

.titulo-productos{
    text-align: center;
    color: white;
    font-size: 6rem;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px;
}

.titulo-consolas{
    color: white;
    font-size: 3.5rem;
    font-weight: 100;
    padding-left: 30px;
    padding-top: 20px;
}

.img-productos{
    width: 278px;
    height: 250px;
}

.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: block;
    width: 280px;
    height: auto;
    border: 1px solid black;
    background-color: var(--card-color);
    margin-left: 10px;
    margin-top: 30px;
    color: white;
    border-radius: 12px;
    transition: transform 0.5s ease;
}

.card:hover{
    transform: scale(1.02);
}

.nombre-producto{
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div-info{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 100;
    margin-bottom: 10px;
    padding: 5px 10px 0px 10px;
}

.div-fecha{
    font-size: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.div-price{
    padding-left: 10px;
    margin-bottom: 10px;
    color: white;
}

.buttoms{
    width: 75px;
    height: 35px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.1s;
}

.buttoms:hover{
    transform: translateY(2px);
}

.card-footer{
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 4px;
    padding-bottom: 10px;
}

@media screen and (width < 768px){
    
    .main-content{
        margin-left: 0px;
        margin-right: 0px;
    }

    .titulo-productos{
        font-size: 60px;
    }

    .titulo-consolas{
        text-align: center;
    }

    .card{
        text-align: center;
        width: 180px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .img-productos{
        width: 180px;
        height: 120px;
    }

    .div-price{
        text-align: start;
    }
}


.caract{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 25px;
}

.div-i{
    padding-bottom: 20px;
}

.art-caract{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 420px;
    height: 180px;
    border-radius: 10px;
    margin-right: 10px;
}

.art-caract:last-child {
    margin-right: 0;
}

.art-titulo2{
    font-size: 14px;
    font-weight: 100;
}

@media screen and (width < 768px){

    .caract{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .art-caract{
        border-radius: 0px;
        width: 100%;
        height: 140px;
        border-bottom: 1px black solid;
    }
}


.main-footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-top: 25px;
    height: 270px;
}

.footer-seccion{
    width: 33%;
    padding: 70px;
    justify-content: center;
    max-height: 270px;
    min-height: 270px;
    min-width: 100px;
    object-fit: cover;
}

.seccion1{
    display: flex;
    flex-direction: column;
}

.li-seccion1 a{
    color: white;
    text-decoration: none;
    font-size: 7xp;
    color: white;
    text-decoration: none;
}

.li-seccion1{
    list-style-type: none;
    margin-bottom: 14px;
}

.logo1{
    margin-right: 7px;
}

.seccion2{
    text-align: center;
    font-weight: 100;
}

.parrafo{
    min-width: 100px;  
    max-height: 75px;
}

#logo-footer{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.seccion3{
    padding-left: 180px;
}

.li-seccion3{
    margin-bottom: 10px;
}

.link-seccion3{
    color: white;
    text-decoration: none;
}

@media screen and (width < 900px){

    .main-footer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        width: 100%;
        font-size: 0.8rem;
    }

    .footer-seccion{
        width: 100%;
    }

    .seccion1{
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    .seccion3{
        display: none;
    }
}